[Desktop Entry]
Encoding=UTF-8
Name=slickworm
Comment=Shoot-em-up game
Comment[pl]=Strzelanka 
Exec=slickworm
Terminal=false
Type=Application
Categories=Qt;KDE;Game;ArcadeGame;
# vi: encoding=utf-8
