[Desktop Entry]
Name=slickworm
Comment=Shoot-em-up game
Comment[pl]=Strzelanka 
Exec=slickworm
Terminal=0
Type=Application
Categories=Qt;KDE;Game;ArcadeGame
# vi: encoding=utf-8
